<div class="productQuickView d-md-block">
	<a class="btn btnProduct btnProductQuickview" href="#" data-url="/products/{{ product.handle }}?view=quick_view" data-handle="{{ product.handle }}" data-pid="{{ product.variants.first.id }}">
		<i class="zmdi zmdi-collection-image-o"></i>
	</a>
</div>