{% comment %}
  The contents of the blog.liquid template can be found in /sections/blog-template.liquid
{% endcomment %}

{% include 'nov-breadcrumb' %}
<div class="page-width">
  <div class="container">
    {% section 'blog-template' %}
  </div>
</div>